* {
  box-sizing: border-box;
}

body, h2, ul, li {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.space {
  margin-top: 70px;
}
.space .main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 0 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 20px 0 20px 0;
  border-radius: 3px;
}
.space .main .title {
  margin-top: 30px;
  width: 80%;
  text-align: center;
}
.space .main .logo {
  width: 90%;
  min-width: none;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
.space .main .center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
  width: 100%;
  margin-top: 40px;
}
.space .main .center .alinhamento {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.space .main .center .alinhamento .item {
  width: 100px;
  height: 90px;
  text-align: center;
  padding: 15px 10px;
  background-color: #cdd4dc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.space .main .center .alinhamento .item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 60px;
  width: 60px;
  top: 0;
}
.space .main .center .alinhamento .item:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.24);
}
.space .main .center .alinhamento .texto {
  background-color: #b6bbc2;
  padding: 5px 0 5px 0;
  width: 100px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}

@media (min-width: 440px) {
  .space {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .space .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 3px;
    width: 70%;
    margin: 0;
    padding: 0 0 20px 0;
  }
  .space .main .logo {
    width: 50%;
    max-width: 230px;
    min-width: 110px;
    height: 120px;
    max-height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .space .main .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0 0 0;
  }
  .space .main .center .alinhamento {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .space .main .center .alinhamento .item {
    width: 70px;
    height: 50px;
    text-align: center;
    background-color: #cdd4dc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0;
    margin: 0px 10px 0 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .space .main .center .alinhamento .item img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 30px;
    width: 30px;
    top: 0;
    margin-top: 10px;
  }
  .space .main .center .alinhamento .item:hover {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.24);
  }
  .space .main .center .alinhamento .texto {
    background-color: #b6bbc2;
    padding: 5px 0 5px 0;
    width: 70px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
  }
}
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
  justify-content: center;
  align-items: center;
}
#modal .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  border-radius: 3px;
}
#modal .modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#modal .modal-content .error {
  display: none;
  color: red;
}
#modal .modal-content button {
  background-color: #0056b3;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  color: white;
}
#modal .modal-content .custom-link {
  color: black;
  background-color: #0056b3;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  color: white;
}/*# sourceMappingURL=index.css.map */